.abc-alert {
  position: fixed;
  top: 35px;
  right: 20px;
  padding: 10px;
  padding-right: 30px;
  min-width: 300px;
  /* background: #dc3545; */
  color: #ffffff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
:host([opened]) .abc-alert {
  opacity: 1;
  pointer-events: all;
}

:host([opened]) .primary {
  background-color: #007bff;
}
:host([opened]) .secondary {
  background-color: #6c757d;
}
:host([opened]) .success {
  background-color: #28a745;
}
:host([opened]) .danger {
  background-color: #dc3545;
}
:host([opened]) .warning {
  background-color: #ffc107;
}
:host([opened]) .info {
  background-color: #17a2b8;
}
:host([opened]) .light {
  background-color: #f8f9fa;
}
:host([opened]) .dark {
  background-color: #343a40;
}
:host([opened]) .white {
  background-color: #ffffff;
}
:host([opened]) .transparent {
  background-color: transparent;
}
